<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Jota's FizzBuzz</a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jose Alava's FizzBuzz!</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.signalR-2.1.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/blockui.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/App")
    @RenderSection("scripts", required: false)

    <script>
    $.blockUI({
        css: {
            border: 'none',
            padding: '15px',
            backgroundColor: '#000',
            '-webkit-border-radius': '10px',
            '-moz-border-radius': '10px',
            opacity: .5,
            color: '#fff'
        }
    });

    ko.applyBindings(window.FOFB.FizzBuzzViewModel);

    // <!-- signalR Stuff -->
    window.fizzBuzzHub = $.connection.fizzBuzzHub;
    $.connection.hub.logging = true;
    $.connection.hub.start();
    // I can register promises here

    window.fizzBuzzHub.client.runFizzBuzz = function (data) {
        window.FOFB.FizzBuzzViewModel.runFizzBuzz(data);
    }
    // END SIGNALR
    </script>
</body>
</html>
